*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   width: 100vw;
   height: 100vh;
   background-color:#121212;
   color: #FFFFFF;
   display: grid;
   justify-content: center;
}

.heading {
    display: flex;
     background-image: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url('bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 25%; 
    width: 550px;
    display: flex;
    justify-content: space-between;
    padding:82px  46px  78px 42px;
}

.heading h1{
    font-family: 'Inter',sans-serif;
    font-weight: 800;
    font-size: 42.79px;
    line-height: 23.77px;
    letter-spacing: -4.5%;
    text-shadow: 1px 1px#121212;
    
}

ul li{
    list-style: none;
    margin-top: 10px;
}

li a{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0.5px 0.5px#121212;
}
form{
    position: relative;
    position: absolute;
    top: 170px;
    left: 360px;
}

.fa-magnifying-glass{
    position: absolute;
    top: 9px;
    left: 15px;
    width: 16px;
    color: #A5A5A5;
}
input{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #A5A5A5;
    padding: 9px 150px 9px 41px;
    background-color: #2E2E2F;
    outline: none;
    border: none;
    margin: 0;
    border-radius: 6px 0 0 6px;
}

form button{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 14px;
    color:#FFFFFF;
    background-color: #4B4B4B;
    padding: 9px 39px 9px 34px;
    margin: 0;
    border: none;
    border-radius: 0 6px 6px 0;
    position: absolute;
}

.moive{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.fa-circle-play{
    font-size: 65px;
    color: #2E2E2F;
}
.moive h2{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2E2E2F;
}