*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   width: 100vw;
   height: 100vh;
   background-color:#121212;
   color: #FFFFFF;
   display: grid;
   justify-items: center;
   font-family: 'Inter',sans-serif;
}

.heading {
    display: flex;
     background-image: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url('bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 25%; 
    width: 550px;
    display: flex;
    justify-content: space-between;
    padding:82px  46px  78px 42px;
    margin-bottom: 17px;
}

.heading h1{
    font-family: 'Inter',sans-serif;
    font-weight: 800;
    font-size: 42.79px;
    line-height: 23.77px;
    letter-spacing: -4.5%;
    text-shadow: 1px 1px#121212;
    
}

ul li{
    list-style: none;
    margin-top: 10px;
}

li a{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0.5px 0.5px#121212;
}
form{
    position: relative;
    position: absolute;
    top: 170px;
    left: 360px;
}

.fa-magnifying-glass{
    position: absolute;
    top: 9px;
    left: 15px;
    width: 16px;
    color: #A5A5A5;
}
input{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #A5A5A5;
    padding: 9px 150px 9px 41px;
    background-color: #2E2E2F;
    outline: none;
    border: none;
    margin: 0;
    border-radius: 6px 0 0 6px;
}

form button{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 14px;
    color:#FFFFFF;
    background-color: #4B4B4B;
    padding: 9px 39px 9px 34px;
    margin: 0;
    border: none;
    border-radius: 0 6px 6px 0;
    position: absolute;
}

.moive{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.fa-circle-play{
    font-size: 65px;
    color: #2E2E2F;
}
.moive h2{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2E2E2F;
}
.empty-saved{
    text-align: center;
}
.empty-saved h2{
    font-family: 'Inter',sans-serif;
    margin-top: 212px;
    font-weight: 700;
    font-size: 18px;
    color: #787878;
}

.empty-saved a{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 15px;
}

.movie-section{
    display: flex;
    align-items: center;
    gap:21px;
    margin: 0 41px;
    width: 550px;
    border-bottom: 1.5px solid #2C2C2C;
}

.movie-section img{
    width: 99px;
    height: 147px;
    border-radius: 2.33px;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 21px;
}

.movie-title{
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

.movie-title h3{
    font-weight: 500;
    font-size: 18px;
}

.movie-title .fa-star{
    font-size: 15px;
    color: #FEC654;
    margin-left:5px;
    margin-right: 3px;
}

.movie-title p{
    font-weight: 400;
    font-size: 12px;
}

.about-movie{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.about-movie p{
    font-weight: 400;
    font-size: 14px;
}

.about-movie p:first-child{
    margin-right: 18px;
}

.about-movie .fa-circle-plus{
    margin-left: 20px;
    margin-right: 3px;
}

.movie-section .movie-plot{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: block;
    width: 100%;
    
}

@media (max-width: 600px){
    html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}
     .heading{
        width: 100vw;
    }
    .heading h1{
        font-size: 30px;
    }
    ul li{
        margin-top: 5px;
    }
    .fa-magnifying-glass {
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 15px;
    color: #A5A5A5;
}
    form{
        left: 47px;
    
}
    input {
        font-size: 16px;
        padding: 8px 20px 8px 34px;
        border-radius: 6px 0 0 6px;
}

    form button {
        font-size: 16px;
        padding: 8px 20px;
        border-radius: 0 6px 6px 0;
}

    .moive{
        position: absolute;
        top:350px;
        left: 150px;
}    
    .empty-saved{
        position:absolute;
        top:150px;
        left: 50px;
    }
    

    .empty-saved a{
        font-size: 16px;
}

    .movie-section{
    gap:21px;
    margin:0 ;
    width: 100%;
}
    
   .movie-title{
    width: 250px;
    align-items: self-start;
    margin-bottom: 11px;
}
   

  .movie-title h3{
    font-size: 16px;
   }

   .movie-title .fa-star{
    margin-left:5px;
    margin-right: 0;
}
   .about-movie{
    flex-direction: column;
    justify-content: flex-start;
}
    .mobile-about{
    display: flex;
    width: 100%;
    }

    .mobile-watchlist{
    display: flex;
    text-align: left;
    align-items: center;
    width: 100%;
    }

    .mobile-watchlist .fa-circle-plus,.mobile-watchlist  p{
    margin-top: 15px;
    }

   .about-movie .fa-circle-plus{
    font-size: 25px;
    margin-right: 3px;
    margin-left: -5px;
}

   .movie-section .movie-plot{
    display: none;
}
}