:root {
    /* Background & Structural Colors */
    --color-main-bg: #121212;
    --color-input-bg: #2E2E2F;
    --color-btn-bg: #4B4B4B;
    --color-border: #2C2C2C;
    
    /* Text Colors */
    --color-text-white: #FFFFFF;
    --color-text-muted: #A5A5A5;
    --color-text-empty: #787878;
    
    /* Interactive & Accent Colors */
    --color-primary: #FEC654;
    --color-plus: #58F358;
    --color-minus: #dc2626;
}

 html::-webkit-scrollbar,
    body::-webkit-scrollbar {
        display: none;
    } 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   width: 100vw;
   height: 100vh;
   background-color: var(--color-main-bg);
   color: var(--color-text-white);
   display: grid;
   justify-items: center;
   font-family: 'Inter', sans-serif;
}

.heading {
    display: flex;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url('bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 25%; 
    width: 550px;
    justify-content: space-between;
    padding: 5.125em 2.875em 4.875em 2.625em; 
    margin-bottom: 1.063em;
}

.heading h1{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 2.674rem; 
    line-height: 23.77px; 
    letter-spacing: -4.5%;
    text-shadow: 1px 1px var(--color-main-bg);
}

ul li{
    list-style: none;
    margin-top: 0.625em; 
}

li a{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.875rem; 
    color: var(--color-text-white);
    text-decoration: none;
    text-shadow: 0.5px 0.5px var(--color-main-bg);
}

a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

form{
    position: relative;
    margin-top: -1.875em; 
    padding-left: 2.125em; 
}

.fa-magnifying-glass{
    position: absolute;
    top: 9px;
    left: 40px;
    font-size: 1rem; 
    color: var(--color-text-muted);
}

input{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.875rem; 
    color: var(--color-text-muted);
    padding: 0.643em 10.714em 0.643em 2.929em; 
    background-color: var(--color-input-bg);
    outline: none;
    border: none;
    margin: 0;
    border-radius: 6px 0 0 6px;
}

form button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.875rem; 
    color: var(--color-text-white);
    background-color: var(--color-btn-bg);
    padding: 0.643em 2.786em 0.643em 2.429em;
    margin: 0;
    border: none;
    border-radius: 0 6px 6px 0;
    position: absolute;
}

.movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.fa-circle-play{
    font-size: 4.063rem; 
    color: var(--color-input-bg);
}

.movie h2{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.125rem; 
    color: var(--color-input-bg);
}

#movie-list .unable{
    margin-left:  0.8em;
}
.empty-saved{
    text-align: center;
}

.empty-saved h2{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.125rem; 
    color: var(--color-text-empty);
}

.empty-saved a{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.875rem; 
    text-decoration: none;
    color: var(--color-text-white);
    display: inline-block;
    margin-top: 1.071em; 
}

.movie-section{
    display: flex;
    align-items: center;
    gap: 21px;
    margin: 0 2.563em; 
    width: 550px;
    border-bottom: 1.5px solid var(--color-border);
}

.movie-section img{
    width: 99px;
    height: 147px;
    border-radius: 2.33px;
    display: inline-block;
    margin-top: 1.563em; 
    margin-bottom: 1.313em; 
}

.movie-title{
    display: flex;
    align-items: center;
    margin-bottom: 0.688em; 
}

.movie-title h3{
    font-weight: 500;
    font-size: 1.125rem; 
}

.movie-title .fa-star{
    font-size: 0.938rem; 
    color: var(--color-primary);
    margin-left: 0.333em; 
    margin-right: 0.2em; 
}

.movie-title p{
    font-weight: 400;
    font-size: 0.75rem; 
}

.about-movie{
    display: flex;
    align-items: center;
    margin-bottom: 0.5em; 
}

.mobile-about{
    display: flex;
}

.mobile-watchlist{
    display: flex;
}

.about-movie p{
    font-weight: 400;
    font-size: 0.875rem; 
}

.about-movie p:first-child{
    margin-right: 1.286em; 
}

.about-movie .fa-circle-plus{
    margin-left: 1.25em; 
    margin-right: 0.188em; 
}

.fa-circle-plus:hover{
    color: var(--color-plus);
}

.movie-section .movie-plot{
    font-weight: 400;
    font-size: 0.875rem; 
    line-height: 20px;
    display: block;
    width: 100%;
}

.fa-circle-minus{
    margin-left: 1.25em; 
    margin-right: 0.188em; 
}

.fa-circle-minus:hover{
    color: var(--color-minus);
}

#saved{
    position: absolute;
    top: 180px;
}

@media (max-width: 600px){
      
    body{
        justify-items: flex-start; 
    }
    .heading{
        width: 100vw;
    }
    .heading h1{
        font-size: 1.875rem; 
    }
    ul li{
        margin-top: 0.313em; 
    }
    
    form{
        position: relative;
        padding-left: 2.375em; 
    }

    .fa-magnifying-glass{
        left: 45px;
    }
    input {
        font-size: 1rem; 
        padding: 0.5em 1.25em 0.5em 2.125em; 
        border-radius: 6px 0 0 6px;
    }

    form button {
        font-size: 1rem; 
        padding: 0.5em 1.25em; 
        border-radius: 0 6px 6px 0;
    }

    .movie{
        position: absolute;
        top: 350px;
        left: 150px;
    }    
    .empty-saved{
        position: absolute;
        top: 300px;
        left: 50px;
    }
    
    .empty-saved a{
        font-size: 1rem; 
    }

    .movie-section{
        gap: 21px;
        margin: 0 0 0.313em 0.625em; 
        width: 100%;
    }
    
    .movie-title{
        width: 250px;
        align-items: self-start;
        margin-bottom: 0.688em; 
    }
    
    .movie-title h3{
        font-size: 1rem; 
    }

    .movie-title .fa-star{
        margin-left: 0.333em;
        margin-right: 0;
    }
    .about-movie{
        flex-direction: column;
        justify-content: flex-start;
    }
    .mobile-about{
        display: flex;
        width: 100%;
    }

    .mobile-watchlist{
        display: flex;
        text-align: left;
        align-items: center;
        width: 100%;
    }

    .mobile-watchlist p{
        margin-top: 0.938em; 
    }
    .mobile-watchlist .fa-circle-plus{
        margin-top: 0.5em;
    }

    .about-movie .fa-circle-plus{
        font-size: 1.563rem; 
        margin-right: 0.12em; 
        margin-left: -0.2em; 
    }

    .movie-section .movie-plot{
        display: none;
    }

    .fa-circle-minus{
        margin-left: 0;
        margin-top: 0.6em; 
        margin-right: 0.2em; 
        font-size: 1.563rem; 
    }
}